@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Primary */
  /* Text */
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --dark-saturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);

  /* These 2 make gradient */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

  /* secondary */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: #f5f3f7;
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);

  --box-shadow-primary: 0 3px 3px -3px hsl(266, 9%, 85%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background: #fafafa;
  overflow-x: hidden;
}
.bg-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section {
  width: 90%;
  max-width: 400px;
  margin-top: 3rem;
}
img {
  width: 50px;
}
.bg-shape-1 {
  background: linear-gradient(13deg, var(--light-violet), var(--light-magenta));
  border-radius: 0 0 200px 200px;
  width: 30vw;
  min-width: 300px;
  height: 50vh;
  position: absolute;
  left: -35vw;
  z-index: -1;
}
.bg-shape-2 {
  background: var(--light-grayish-violet);
  border-radius: 200px 200px 0 0;
  height: 50vh;
  width: 30vw;
  min-width: 300px;
  position: absolute;
  right: -35vw;
  bottom: -2vh;
  z-index: -1;
}
.app {
  background-color: var(--light-grayish-violet);
  border: 10px solid var(--white);
  border-radius: 30px;
  font-size: 0.5rem;
  width: 250px;
  color: var(--light-grayish-violet);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 15px -5px var(--dark-grayish-violet);
}
.top-case {
  position: relative;
  height: 25px;
  width: 125px;
  background: var(--white);
  border-radius: 25px;
  margin: -10px auto -15px;
  box-shadow: var(--box-shadow-primary);
}
.walker-contact {
  background: linear-gradient(
    to right,
    var(--light-violet),
    var(--light-magenta)
  );
  border-radius: 18px 18px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem 0.7rem 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  box-shadow: var(--box-shadow-primary);
}
.walker-contact-main {
  display: flex;
  align-items: center;
}
.sub-heading {
  color: var(--pale-violet);
  letter-spacing: 0.25px;
  font-size: 0.6rem;
  font-weight: initial;
}
.walker-contact-main * {
  margin-right: 0.5rem;
}
.walker-contact img {
  width: 25px;
  border-radius: 50px;
  border: 2px solid var(--light-grayish-violet);
}
.chat-box {
  max-width: 130px;
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
}
.walker-chat {
  color: var(--moderate-violet);
  background-color: hsl(272, 41%, 93%);
  border-radius: 10px 10px 10px 5px;
}
.dog-images {
  align-self: flex-end;
  margin-right: 0.5rem;
  margin-top: 0.7rem;
}
.dog-images img {
  border-radius: 10px;
  width: 45px;
  margin-left: 0.35rem;
}
.client-chat {
  border-radius: 10px 10px 5px 10px;
  color: var(--desaturated-dark-violet);
  background-color: hsl(0, 0%, 100%);
  align-self: flex-end;
  box-shadow: var(--box-shadow-primary);
}
.pricing {
  background: linear-gradient(13deg, var(--light-magenta), var(--light-violet));
  font-weight: 500;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-right: 1rem;
  margin: 0.25rem 0.5rem;
  border-radius: 10px 10px 10px 5px;
}
.walk-option {
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}
.walk-option button {
  margin-right: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid var(--very-light-magenta);
}
.price {
  font-weight: 800;
  font-size: 0.8rem;
}
.input-box {
  margin: 0.5rem;
  position: relative;
}
.input-box input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: none;
  background: hsl(0, 0%, 100%);
}
.input-box button {
  position: absolute;
  right: 10px;
  top: 0.25rem;
  background: var(--very-dark-desaturated-violet);
  border: none;
  border-radius: 50%;
  color: var(--white);
  font-weight: 700;
  padding: 2px 7px;
  font-size: 1rem;
}
::placeholder {
  color: var(--grayish-blue);
  font-size: 0.5rem;
  letter-spacing: 0.5px;
}
.content {
  text-align: center;
  line-height: 1.5rem;
  color: var(--dark-grayish-violet);
}
h1 {
  color: var(--very-dark-desaturated-violet);
  margin-bottom: 1.25rem;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.content p {
  width: 85%;
  margin: 0 auto;
}
footer {
  margin-top: 2rem;
}
@media (min-width: 500px) {
  .bg-shape-1 {
    left: -10vw;
  }
  .bg-shape-2 {
    right: -20vw;
  }
}
@media (min-width: 750px) {
  .bg-shape-1 {
    height: 80vh;
    left: -5vw;
  }
  .bg-shape-2 {
    height: 80vh;
    right: -5vw;
  }
  .content {
    margin-left: 5rem;
    text-align: initial;
  }
  .content p {
    width: initial;
    margin: initial;
  }
}
